WebASPNET/Service References/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:57435/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Modelo" />
  <xs:import schemaLocation="http://localhost:57435/Service1.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="usuarioGrabarXML">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xmlUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="usuarioGrabarXMLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuarioGrabarXMLResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="usuarioActualizarXML">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xmlUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="usuarioActualizarXMLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuarioActualizarXMLResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="usuarioListar">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="usuarioListarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Modelo" minOccurs="0" name="usuarioListarResult" nillable="true" type="q1:ArrayOfCL_Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="usuarioEliminar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cod" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="usuarioEliminarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuarioEliminarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="usuarioLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="usuarioLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Modelo" minOccurs="0" name="usuarioLoginResult" nillable="true" type="q2:CL_Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="locales">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="localesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="localesResult" nillable="true" type="q3:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="compraAgregar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xmlCompra" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="compraAgregarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="compraAgregarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="compraActualizar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xmlCompra" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="compraActualizarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="compraActualizarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="compraListar">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="compraListarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Modelo" minOccurs="0" name="compraListarResult" nillable="true" type="q4:ArrayOfCL_Compra" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="detalleCompraAgregar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xmlDetalleCompra" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="detalleCompraAgregarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="detalleCompraAgregarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="detalleCompraActualizar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xmlDetalleCompra" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="detalleCompraActualizarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="detalleCompraActualizarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="detalleCompraListar">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="detalleCompraListarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Modelo" minOccurs="0" name="detalleCompraListarResult" nillable="true" type="q5:ArrayOfCL_DetalleCompra" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="productoListar">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="productoListarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Modelo" minOccurs="0" name="productoListarResult" nillable="true" type="q6:ArrayOfCL_Producto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="productoAgregar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xmlProducto" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="productoAgregarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productoAgregarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="productoActualizar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xmlProducto" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="productoActualizarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productoActualizarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>